<div class="gist-page">
  <div class="gist">
    <ul class="gist-id">
      <li><h2>Your Gists</h2></li>
      <li class="github-url" title="Go to Github"><%= link_to "GitHub", @gists.get.data[0].owner.html_url %></li>
      <li class="close-gist"><a href="/logout">Logout</a></li>
    </ul>
  
    <% @gists.get.data.each do |datum| %>
      <% datum.files.each do |filename, file_data| %>
        <div class="gist-list"><img src="/img/markdown.png">
          <a href="/#<%= URI::encode(file_data.raw_url) %>" title="Click to Present">
            <span><%= @gists.get.data[0].owner.login %> / <%= filename %></span>
            <span class="description">
              <% if datum.description.present? %>
                <p><%= datum.description %></p>
              <% else %>
                <p>...</p>
              <% end %>
            </span>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
